<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="height: 100%; display: flex; align-items: center; justify-content: center;">
<div style="width: 500px; margin: auto;">
    <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
        <img id="image" th:src="@{https://github.com/Gseungmin/refit-android-ref/assets/87487149/39be7387-32a1-43b1-bfd9-29b3cbe02266}" alt="Image" style="width: 150px;" />
    </div>
    <div id="line" style="height: 2px; background-color: #247535;"></div>
    <div style="margin-left: 30px; margin-right: 30px; margin-top: 20px">
        <p style="margin-top: 20px;" th:text="${name} + ${'님 안녕하세요'}"></p>
        <p th:text="${'요청하신 임시 비밀번호는 다음과 같습니다.'}"></p>
        <p style="margin-top: 20px;" th:text="${'로그인 후 비밀번호를 변경해주세요. 감사합니다 :)'}"></p>
    </div>
    <div id="verification-box" style="background-color: #F0F2F5; text-align: center; padding: 20px; margin: 40px 30px 30px;">
        <h3 style="color: #247535" th:text="${code}"></h3>
    </div>
</div>
</body>
</html>